footer {
  padding: 35px 60px;
  display: flex;
  justify-content: center;
  height: 100px;
  border-top: 1px solid #e1e1e1;
}

.footer-div {
  width: 1200px;
  background-color: beige;
}
.footer-div ul {
  display: flex;
}

.footer-div li + li {
  margin: 0 0 0 10px;
}

.footer-link a {
  color: #42464a;
  text-decoration: none;
  cursor: pointer;
}
