main {
  padding: 30px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  width: 1200px;
}

:root {
  --main-border-radius: 25px;
  --main-bg-color: #fff;
  --main-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.banner {
  background-color: var(--main-bg-color);
  border-radius: var(--main-border-radius);
  box-shadow: var(--main-box-shadow);
  position: relative;
  height: 400px;
}
.menu {
  background-color: var(--main-bg-color);
  border-radius: var(--main-border-radius);
  box-shadow: var(--main-box-shadow);
  height: 110px;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.menu ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.menu li {
  display: inline-block;
}
.menu li + li {
  margin: 0 0 0 70px;
}
.menu button {
  border: none;
  background: none;
  font-size: 20px;
  font-weight: bold;
}
.menu button:hover {
  color: blue;
  cursor: pointer;
}

.buttons {
  height: 150px;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.buttons ul {
  display: flex;
  align-items: center;
}

.buttons button {
  background-color: var(--main-bg-color);
  border-radius: var(--main-border-radius);
  box-shadow: var(--main-box-shadow);
  width: 280px;
  height: 150px;
  border: none;
}
.buttons button:hover {
  background-color: blue;
  color: #fff;
  cursor: pointer;
}

.buttons li + li {
  margin: 0 0 0 26px;
}

.bottom {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  height: 290px;
}

.bottom-board {
  background-color: var(--main-bg-color);
  border-radius: var(--main-border-radius);
  box-shadow: var(--main-box-shadow);
  margin-right: 26px;
  width: 680px;
  height: 290px;
}
.bottom-app {
  background-color: var(--main-bg-color);
  border-radius: var(--main-border-radius);
  box-shadow: var(--main-box-shadow);
  width: 494px;
  padding-top: 50px;
}
.bottom-app__icons {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
}
.bottom-app__icons button {
  background-color: var(--main-bg-color);
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bottom-app__icons button img {
  width: 90px;
  height: 90px;
  border-radius: var(--main-border-radius);
  border: 1px solid #e1e1e1;
  margin-bottom: 20px;
}
