@import "reset.css";
@import "main.css";
@import "header.css";
@import "footer.css";

body {
  background-color: #f3f6f8;
  overflow: scroll;
  font-family: "돋움", Dotum, Arial, simsun, MS mincho, MS-Gothic;
}
